@tailwind base;
@tailwind components;
@tailwind utilities;
.glassy {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply bg-white rounded-xl;
}

.parallax_container {
    width: 120%;
    left: -10%;
    @apply bg-brown absolute lg:h-auto;
}

#scene .layer {
    @apply absolute inset-0 h-screen;
}

#scene .layer img {
    object-fit: cover;
    @apply absolute bottom-0 h-2/5 lg:w-full lg:h-auto lg:w-auto;
}

#scene .layer:first-child img {
    @apply h-auto top-0 h-2/5 lg:w-full lg:h-auto;
}

#scene .layer:nth-child(2) img {
    @apply h-auto lg:top-0;
}

#scene .layer:last-child img {
    transform: scale(1.7);
    @apply bottom-0;
}


@media (max-width: 640px) {
    #scene .layer img {
        top: 0;
    }
}